# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos generados
.next/
dist/
out/
coverage/

# Configuración local de WebStorm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db